.loginContainer{
    padding: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    form{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 40vh;
        align-items: center;
        input{
            
        min-width: 35vw;
        }
        button{
            width: 50%;
        }
    }
}