@import '../../colors.scss';

.header {
    background-color: $Solid;
    padding: 0 0.8em;
    display: flex;
    justify-content: space-around;
    a {
        all: unset;
        cursor: pointer;
        padding: 0.5em;
        &:hover {
            background-color: $Dark;
            color: $Ligth;
        }
    }


    .isActive {
        background-color: $Dark;
        color: $Ligth;
    }
}